<ng-container *ngIf="questionnaire">


  <ng-container *ngIf="questionnaire.questions[currentIndex] as question">
    <mat-card >
      <mat-card-header>
        <div mat-card-avatar><mat-icon class="question-icon">help_outline</mat-icon></div>
        <mat-card-title>
          <h2>{{question.title}}</h2>
        </mat-card-title>
        <mat-card-subtitle>
          Frage {{currentIndex + 1}} von {{questionnaire.questions.length}}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="answer-content">
        <ng-container [ngSwitch]="question.type">

          <ng-container *ngSwitchCase="'a'">
            <mat-slider min="1" max="10" step="1" value="1" thumbLabel tickInterval="1" #slider="matSlider"></mat-slider>
            {{slider.value}}
          </ng-container>

          <ng-container *ngSwitchCase="'SINGLECHOICE'">
            <mat-radio-group aria-label="Select an option" (change)="radioChoiceAnswer($event)">
              <mat-radio-button [checked]="!!getCurrentQuestion().answer && getCurrentQuestion().answer.content.includes(choice.id)" *ngFor="let choice of question.choices" [value]="choice.id">{{choice.answer}}</mat-radio-button>
            </mat-radio-group>
          </ng-container>

          <ng-container *ngSwitchCase="'MULTIPLECHOICE'">
            <div class="checkboxes">
              <mat-selection-list (selectionChange)="multipleChoiceAnswer($event)">
                <mat-list-option checkboxPosition="before" *ngFor="let choice of question.choices" [value]="choice.id" [selected]="!!getCurrentQuestion().answer && getCurrentQuestion().answer.content.includes(choice.id)">
                  {{choice.answer}}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'c'">
            <mat-form-field>
              <mat-select placeholder="Select...">
                <mat-option *ngFor="let choice of question.choices" value="1">{{choice.answer}}</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
          </ng-container>

        </ng-container>
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button [disabled]="!canSubmit()" (click)="submit()" class="btn-submit">
          <span i18n>Absenden</span>
        </button>
        <span class="spacer"></span>
        <button mat-stroked-button [disabled]="currentIndex <= 0" (click)="prev()">
          <span i18n>Zurück</span>
        </button>
        <button mat-stroked-button [disabled]="getCurrentQuestion().answer === undefined || (currentIndex >= (questionnaire.questions.length - 1))" (click)="next()">
          <span i18n>Weiter</span>
        </button>
      </mat-card-actions>

    </mat-card>

  </ng-container>
</ng-container>
