.question-icon {
  transform: scale(2);
  margin: 1rem 0.5rem;
}

.mat-radio-group, .checkboxes {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.mat-radio-group + *, .checkboxes + * {
  margin: 0.5rem 0;
}

.mat-slider, .mat-form-field {
  width: 50%;
}

.mat-radio-button {
  margin: 0.5rem 0;
}

.spacer {
  margin: auto;
}

.mat-card-actions {
  display: flex;
}
