body {
  line-height: 1.2em;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  width: 80%;
  margin: 2rem auto;
}

.logo {
  vertical-align: bottom;
  margin-right: 16px;
}

.header {
  font-size: 0.8em;
  font-weight: 300;
}
