* {
  line-height: 49px;
  text-align: center;
  font-size: 20px;
}

.mat-card {
  width: 335px;
  height: 49px;
  color: #646464;
  background: #F5F5F5;
  box-shadow: none;
}

.rect-small {
  width: 15px;
  height: 15px;
  fill: transparent;
  stroke: #646464;
  stroke-opacity: 0.9;
  border-width: 0.7px;
  border-radius: 5px;
}

.copy {
  cursor: pointer;
}

svg {
  position: absolute;
  top: 30px;
  left: 200px;
}

#onboarding-finished-info {
  font-family: "Roboto-Bold", "Helvetica Neue", sans-serif;
  padding-top: 10%;
  padding-bottom: 20%;
}

#onboarding-finished-id {
  padding-top: 5%;
  padding-bottom: 5%;
}
