.landing-page-container{
  display: flex;
  width: 100%;
  height: 80%;
  flex-flow: column;
  justify-content: space-around;
}
.welcome-header{
  width: auto;
  align-self: center;
  font-size: 40pt;
}
.welcome-text{
  width: auto;
  align-self: center;
  font-size: 20pt;
}
.welcome-navigate-next{
  width: auto;
  align-self: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 20pt;
  color: #1478b2;
}
.navigate-icon{
  flex: 1;
}
.navigate-text{
  flex: 9;
}
