<div class="landing-page-container">
  <div>

    <div style="margin: 2rem">
      <img style="width: 3rem" class="logo" src="../assets/qh-assets/opener.svg">
    </div>

    <div class="welcome-header" i18n>Willkommen beim Quarantänehelfer!</div>


    <div class="welcome-text" i18n>Wir erleichtern Ihnen die Kommunikation und Zusammenarbeit mit dem Gesundheitsamt.</div>

    <br>
    <mat-divider></mat-divider>

    <div style="margin: 1rem 0" class="nav-link"  *ngIf="!currentToken">
      <a [routerLink]="['/onboarding']" class="btn-content">
        <span i18n>Bitte starten Sie zum Beginn unser Aufnahmeprotokoll.</span>
      </a>
      <mat-icon class="navigate-icon" style="color: #1073b2">navigate_next</mat-icon>
    </div>

    <mat-divider></mat-divider>

    <div style="margin: 1rem 0" class="nav-link" *ngIf="currentToken">
      <a [routerLink]="['/statustracker']" class="btn-content">
        <span i18n>Gesundheitszustand verfolgen</span>
      </a>
      <mat-icon class="navigate-icon" style="color: #1073b2">navigate_next</mat-icon>
    </div>


  </div>
</div>
