<h4>Ihr heutiges Befinden:</h4>

<ng-container *ngIf="feelsBadMan$ | async; else badbtn">
  <button mat-stroked-button class="btn-red">
    <span i18n>Schlecht</span>
  </button>
  <h2 i18n>Das tut uns leid!</h2>
</ng-container>


<ng-template #badbtn>
  <button mat-stroked-button class="btn-green">
    <span i18n>Gut</span>
  </button>
  <h2 i18n>Das freut uns!</h2>
</ng-template>

<h3>Ihr täglicher Fragebogen:</h3>

<app-questionnaire (answers)="submitAnswers($event)" [questionnaire]="questionnaire"></app-questionnaire>
