<div class="quarantine-status">
  <p class="quarantine-status-day">
    Tag {{quarantineDayActual}} von {{quarantineDayGoal}}
  </p>
  <svg width="10" height="25" *ngFor="let i of days(quarantineDayActual-1).fill(1)">
    <ellipse cx="5" cy="17" rx="4" ry="4" style="fill:#B0C800;"></ellipse>
  </svg>
  <svg width="10" height="25">
    <ellipse cx="5" cy="17" rx="3" ry="3" style="fill:transparent;stroke:#090909;stroke-width:2"></ellipse>
  </svg>
  <svg width="10" height="25" *ngFor="let i of days(quarantineDayGoal).fill(1)">
    <ellipse cx="5" cy="17" rx="4" ry="4" style="fill:transparent;stroke:#D9D9D9;stroke-width:1"></ellipse>
  </svg>
</div>

<ng-container *ngIf="feelsBadMan$ | async; else badbtn">
  <p i18n>Das tut uns leid!</p>
  <button mat-stroked-button class="btn-red">
    <span i18n>Schlecht</span>
  </button>
</ng-container>


<ng-template #badbtn>
  <p i18n>Das freut uns!</p>
  <button mat-stroked-button class="btn-green">
    <span i18n>Gut</span>
  </button>
</ng-template>

<h3>Ihr täglicher Fragebogen:</h3>

<app-questionnaire (answers)="submitAnswers($event)" [questionnaire]="questionnaire"></app-questionnaire>
