<div class="status-check-container">
  <div id="status-check-done" *ngIf="coronaStatusDetails">
    <p>Status heute bereits versendet!</p>
    <div class="container">
      <img src="../../assets/img/status-done-happy@3x.png" alt="happy-face" style="width: 40px; height: 40px">
    </div>
    <div class="container"><a class="link link-small">Meine Eingaben prüfen ></a></div>
  </div>
  <div id="status-check-to-do" *ngIf="!coronaStatusDetails">
    <p>Wie geht es Ihnen heute?</p>
    <div class="container-button-bar" style="overflow: hidden;">
      <button mat-raised-button color="good" routerLink="/status/good">GUT</button>
      <button mat-raised-button color="bad" routerLink="/status/bad">SCHLECHT</button>
    </div>
    <div class="container"><a class="link link-small">Detaillierte Diagnose starten ></a></div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="status-check-container">
  <div>
    <p class="city">In {{city}}</p>
    <p class="message danger" *ngIf="messageDanger">{{messageDanger}} ></p>
    <mat-progress-bar mode="determinate" value="{{coronaStatus}}" style="height: 15px;"></mat-progress-bar>
  </div>
  <div class="container-button-bar hide-scroll-bar">
    <button mat-stroked-button color="green" class="container-button-icon">Alles super</button>
    <button mat-stroked-button color="red" class="container-button-icon">Corona</button>
    <button mat-stroked-button color="red" class="container-button-icon">Besorgt</button>
    <button mat-stroked-button color="red" class="container-button-icon">Krank</button>
    <button mat-stroked-button color="green" class="container-button-icon">Fit</button>
  </div>
</div>
<mat-divider></mat-divider>
<div class="tip-container">
  <p>Nützliche Tipps</p>
  <div class="tip-list hide-scroll-bar">
    <img class="tip-image link" src="../../assets/img/undraw_medicine_b1ol.svg" alt="medicine">
    <img class="tip-image link" src="../../assets/img/undraw_private_data_7q35.svg" alt="private-data">
    <img class="tip-image link" src="../../assets/img/undraw_secure_data_0rwp.svg" alt="data-secure">
    <img class="tip-image link" src="../../assets/img/undraw_wash_hands_nwl2.svg" alt="wash-hands">
  </div>
</div>
<div>
  <div class="overflow: hidden">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <a style="width: 100%;text-align: left; color: #0068A9;">Live Tracking</a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a style="width: 100%;text-align: right; color: #0068A9;">Vernetzen</a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
