<div class="quarantine-status">
  <p class="quarantine-status-day">
    Tag {{quarantineDayActual}} von {{quarantineDayGoal}}
  </p>
  <svg width="10" height="25" *ngFor="let i of days(quarantineDayActual-1).fill(1)">
    <ellipse cx="5" cy="17" rx="4" ry="4" style="fill:#B0C800;"></ellipse>
  </svg>
  <svg width="10" height="25">
    <ellipse cx="5" cy="17" rx="3" ry="3" style="fill:transparent;stroke:#090909;stroke-width:2"></ellipse>
  </svg>
  <svg width="10" height="25" *ngFor="let i of days(quarantineDayGoal).fill(1)">
    <ellipse cx="5" cy="17" rx="4" ry="4" style="fill:transparent;stroke:#D9D9D9;stroke-width:1"></ellipse>
  </svg>
</div>
<div class="status-check-container">
  <p>Wie geht es Ihnen heute?</p>
  <mat-grid-list cols="2" class="container-button-bar" rowHeight="100px" style="overflow: hidden;">
    <mat-grid-tile>
      <button mat-raised-button color="good">GUT</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="bad">SCHLECHT</button>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="container"><a class="link link-small">Detaillierte Diagnose starten ></a></div>
</div>
<mat-divider></mat-divider>
<div class="status-check-container">
  <div>
    <p class="city">In {{city}}</p>
    <p class="message danger" *ngIf="messageDanger">{{messageDanger}} ></p>
    <mat-progress-bar mode="determinate" value="{{coronaStatus}}" style="height: 15px;"></mat-progress-bar>
  </div>
  <div class="container-button-bar">
    <button mat-stroked-button color="green" class="container-button-icon">Alles super</button>
    <button mat-stroked-button color="red" class="container-button-icon">Corona</button>
    <button mat-stroked-button color="red" class="container-button-icon">Besorgt</button>
    <button mat-stroked-button color="red" class="container-button-icon">Krank</button>
    <button mat-stroked-button color="green" class="container-button-icon">Fit</button>
  </div>
</div>
<mat-divider></mat-divider>
<div class="tip-container">
  <p>Nützliche Tipps</p>
  <div class="tip-list">
    <img class="tip-image link" src="../../assets/img/undraw_medicine_b1ol.svg" alt="medicine">
    <img class="tip-image link" src="../../assets/img/undraw_private_data_7q35.svg" alt="private-data">
    <img class="tip-image link" src="../../assets/img/undraw_secure_data_0rwp.svg" alt="data-secure">
    <img class="tip-image link" src="../../assets/img/undraw_wash_hands_nwl2.svg" alt="wash-hands">
  </div>
</div>
<div>
  <div class="overflow: hidden">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <a style="width: 100%;text-align: left; color: #0068A9;">Live Tracking</a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a style="width: 100%;text-align: right; color: #0068A9;">Vernetzen</a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
